{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}


		<h1>{{ post.title }}</h1> <br/>
		<hr>
		{% if post.header_image %}
		<img src="{{ post.header_image.url }}">
		{% endif %}

		<br/>
		{{ post.body|safe }} <br/> 


		<small>By: {{ post.author.first_name }} 
			{{ post.author.last_name }} <br/> 
			{{ post.post_date }}</small><br/>

		<form action="{% url 'like_post' post.pk %}" method="POST">
			{% csrf_token %}

		{% if user.is_authenticated %}
			{% if liked %}
				<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
			{% else %}	
				<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 
				
			{% endif %}
		{% else %}
		 	<small> <a href="{% url 'login' %}">Sign in</a> to like</small>
		{% endif %}

			- {{ total_likes }} Likes
	
		</form>

		{% if user.is_authenticated %}
			{% if user.id == post.author.id %} 
				<small>
					<a href="{% url 'update_post' post.pk %}">Edit</a></small> - 
				<small>
						<a href="{% url 'delete_post' post.pk %}">Delete</a></small> 
			{% endif %}
		{% endif %}
		
		<br/>

		<br/>
		<hr>
		<br/>

<div class="card mb-3">
	<div class="row no-gotters">
		<div class="col-md-2">
{% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
{% else %} 
	  <img src="{% static 'theblog/images/default-user-icon-8.jpg' %}" class="card-img">
{% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.first_name }} 
			{{ post.author.last_name }}</h5>

		<p class="small text-muted">

			<a href="#">Profile page</a>

			{% if  post.author.profile.website_url %}
				| <a href="{{ post.author.profile.website_url }}">Website<a/> 
			{% endif %}

			
			{% if  post.author.profile.facebook_url %}
				| <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
			{% endif %}

			
			{% if  post.author.profile.twitter_url %}
				| <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
			{% endif %}

			
			{% if  post.author.profile.instagram_url %}
				| <a href="{{ post.author.profile.instagram_url }}">Instagram</a> 
			{% endif %}

			
			{% if  post.author.profile.linkedin_url %}
				| <a href="{{ post.author.profile.linkedin_url }}">LinkedIn</a>
			{% endif %}

		</p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
       
      </div>
    </div>
  </div>
</div>

<br/><br/>
		<hr>
		<h2>Comments</h2>
		<br/>
		{% if not posts.comments.all %}
				No comments yet - <a href="{% url 'add_comment' post.pk %}">comment</a><br/><br/>
		{% else %}<br/><br/>
				<a href="{% url 'add_comment' post.pk %}">post comment</a>
				{% for comment in post.comments.all %}
					<strong>{{ comment.name }} - {{ comment.date_added }}</strong>
					<br/>
						{{ comment.body }}
						<br/><br/>
						<hr>
						<br/><br/>

				{% endfor %}
			<a href="{% url 'add_comment' post.pk %}">post comment</a>
		{% endif %}
		
<br/><br/>
{% endblock %}