{% extends 'base.html' %}

{% block content %}

{% if category_posts %}

	<h1><strong>{{ cats }} Category</strong></h1>

	<ul>
	{% for post in category_posts %}
		<li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> <br/>
		{{ post.body|slice:"200"|safe }} <br/>

		{% if user.is_authenticated %}
			<small>
				<a href="{% url 'update_post' post.pk %}">Edit</a> 
				<a href="{% url 'delete_post' post.pk %}">Delete</a> <br/>
			</small>
			{% endif %} 

			<small>{{ post.author.first_name }} {{ post.author.last_name }} <br/>
				{{ post.post_date }}</small>
	{% endfor %}
	</ul>

{% else %}
	<h2>Sorry this page does not exist</h2>
{% endif %}

{{ cats }}
category_posts


    {% endblock %}